/* Resets */
ul, ol, li, p{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; list-style: none;}

#main_content_wrapper{ width:100%; height:auto; overflow:hidden; }

.page_wrapper {margin:0 auto; background-color:#fff !important; position:relative; overflow:hidden; /* make hidden if you need to hide elements beyond 1000px */ margin-bottom:0; padding-bottom:0; font: 13px "Avenir", arial, sans-serif; text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;}
	

/* Product Carousel */
.mcp_prod-carousel {
	display: block;
	position: relative;
	height: 330px;
	width: 1000px;
	margin: 0 auto;
	padding-top: 25px !important;
	margin-bottom: 25px;
	z-index: 14;
	background-color: #fff !important;
}
.hpp_header_copy{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	color: #6f7377;
	font-size: 20px;
	margin-top: 0px;
	font-family: "Avenir Bold", sans-serif;
	padding: 0px 0 25px 0px;
	display: block;
	clear: both;
}
.hpp_header_copy2 a:link{
	font-family:"Avenir Black", sans-serif;
	color:#000;
}

.gift_header-second{
	font-family:"Avenir" !important;
	text-transform: none;
	color: #6f7377 !important;
}
						
.strong-finish-hdr {
	color: #1e2368 !important;
	text-decoration: underline;
	font-family: "Avenir Bold", sans-serif;
}
						
						
		
/* Olapic Styles*/
.hpp_olapic_container{
	display:block;
	position:relative;
	padding-top: 25px !important;
	border-top: 1px solid #000 !important;
}
							
/* Fancybox Styles */
#fancybox-content {
	padding: 0;
	margin: 0;
	overflow: scroll;
	max-width:1000px;
	max-height:563px;
}
.fancybox-next, .fancybox-prev{
	height:80%;
	padding-top:6%;
}
.fancybox-next{
	right: 40px;
}

.fancybox-prev{
	left: 40px;
}

.fancybox-skin{
	padding:0 !important;
}

.fancybox-close{
	top: -26px !important;
	right: 0px !important;
	width: 32px;
	height: 18px;
	position: absolute;
	display: block;
}

.looks_vid-hidden{display:none;}
		

/* Section Wrappers */
#nav-wrapper, #sumo-Container-wrapper, #top-video-wrapper, #bottom-video-wrapper {width: 100%; margin: 0 auto; text-align: center;}

/* Navigation */
#nav-wrapper, #nav-wrapper #spray-nav {
	padding-bottom: 25px;
	overflow: hidden;
}

/* Top Videos */
#top-video-wrapper, #bottom-video-wrapper {float: left; clear: both;}
#top-video-container {width: 1405px; max-width: 100%; height: auto; max-height: 416px !important; margin: 0 auto !important; position: relative; text-align: center; background: #fff; z-index: 15; display: block;}
#top-video-container div {float: left; display: block; padding-left: 1px; margin-bottom: 1px; width: 49.5%; position: relative; text-align: center; font-size: 23px; text-transform: uppercase; font-family: "Avenir";}
#top-video-container div img {height: auto; max-width: 100%; padding: 10px 0;}
#top-video-container a:link, #top-video-container a:visited {transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1;}
#top-video-container a:hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter: alpha(opacity=75); -moz-opacity: .75; opacity: .75;}

/* Bottom Video */
#bottom-video-wrapper {border-top: 1px solid #000; border-bottom: 1px solid #000; margin-bottom: 30px;}
#bottom-video-container {width: 1300px; max-width: 100%; height: auto; max-height: 425px !important; margin: 0 auto !important; position: relative; text-align: center; background: #fff; z-index: 15; display: block;}
#bottom-video-container div {float: left; display: block; width: 100%; position: relative; text-align: center; font-size: 23px; text-transform: uppercase; font-family: "Avenir";}
#bottom-video-container div img {height: auto; max-width: 100%;}
#bottom-video-container a:link, #top-video-container a:visited {transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); -moz-opacity: 1; opacity: 1;}
#bottom-video-container a:hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter: alpha(opacity=75); -moz-opacity: .75; opacity: .75;}


/* Mix It Up */
#sumo-Container-wrapper {padding-bottom: 40px; float: left; clear: both; border-bottom: 1px solid #000;}
#sumo-Container {width: 1395px; max-width: 100%; height: auto; max-height: 1545px !important; margin: 0 auto !important; position: relative; text-align: center; background: #fff; z-index: 15; display: block;}
#sumo-Container div {float: left; display: block; padding-left: 1px; margin-bottom: 1px; width: 33%; position: relative;}
#sumo-Container div img {height: auto; max-width: 100%;}

#sumo-Container div .gel-triangle {background: url(../img/apollo_videopage_gel-triangle.png) no-repeat scroll bottom right; z-index: 18; bottom: 0; right: 0; position: absolute; display: block; width: 84px; height: 84px;}
#sumo-Container div .clay-triangle {background: url(../img/apollo_videopage_clay-triangle.png) no-repeat scroll bottom right; z-index: 18; bottom: 0; right: 0; position: absolute; display: block; width: 84px; height: 84px;}
#sumo-Container div .tech-triangle {background: url(../img/apollo_videopage_tech-triangle.png) no-repeat scroll bottom right; z-index: 18; bottom: 0; right: 0; position: absolute; display: block; width: 84px; height: 84px;}
#sumo-Container div .semi-triangle {background: url(../img/apollo_videopage_semi-triangle.png) no-repeat scroll bottom right; z-index: 18; bottom: 0; right: 0; position: absolute; display: block; width: 84px; height: 84px;}
#sumo-Container div .wax-triangle {background: url(../img/apollo_videopage_wax-triangle.png) no-repeat scroll bottom right; z-index: 18; bottom: 0; right: 0; position: absolute; display: block; width: 84px; height: 84px;}

.grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");

  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);

  /* Firefox 35+ */
  filter: grayscale(1);

  /* IE 6-9 */
  filter: gray;
}

.grayscale.grayscale-fade {
  transition: filter .5s;
}

/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition:         -webkit-filter .5s;
  }
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter:         grayscale(0);
}

/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter:         none;
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition:         opacity .5s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}

.clearing {clear: both;}
.hide {display: none !important;}



/* Caption slideshow */

form {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}
div#preloaded-images {
   display: none;
}
label {
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
  padding: 5px 12px;
  margin: 5px 3px;
  color: #000;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
label:hover, .checked {
  background-color: #000;
  color: #fff;
}
label#sg-prod:hover,
label#sg-prod.checked,
label#sg-prod.active {
	background-color: #36b1ca !important;
	color: #fff !important;
}
label#sc-prod:hover,
label#sc-prod.checked,
label#sc-prod.active {
	background-color: #777b87 !important;
	color: #fff !important;
}
label#st-prod:hover,
label#st-prod.checked,
label#st-prod.active {
	background-color: #111111 !important;
	color: #fff !important;
}
label#ss-prod:hover,
label#ss-prod.checked,
label#ss-prod.active {
	background-color: #79c4aa !important;
	color: #fff !important;
}
label#sw-prod:hover,
label#sw-prod.checked,
label#sw-prod.active {
	background-color: #ca3229 !important;
	color: #fff !important;
}
#nav-wrapper .reset {
	color: #838383;
	font-size: 16px;
	display: block;
	margin: 5px 3px;
	text-decoration: underline;
	text-align: center;
}
input[type=checkbox] {
  position: absolute;
  left: -9999px;
}	
#noResult {
	font-size: 20px;
	color: #ff0000;
}
#nav-wrapper h1 {
	font-size: 50px;
	font-weight: normal;
	font-family: "Avenir Black";
	margin: 0 auto 10px auto;
	padding: 55px 0 0 0;
}
#nav-wrapper p {
	font-size: 22px;
	font-weight: normal;
	font-family: "Avenir";
	display: block;
	margin: 0 !important;
	padding: 0 !important;
}
#nav-wrapper img {
	display: block;
	margin: 30px auto;
}
.mcp_anchor{height: 30px;}






